@tailwind base;
@tailwind components;
@tailwind utilities;


/* -------------- Root -------------- */
:root {
    --background: #F2F8FE;
    --primary: #2B5DFF;
    --secondary: #1048ff;
    --paleGrey: #e2e8f0;
    --grey: #94a3b8;
    --text: #3a4045;
    --darkBackground: #161D31;
    --darkPrimary: #292F45;
}

* {
    @apply
    m-0 p-0 box-border select-none
}

body {
    @apply
    font-sans text-[1rem] min-[1700px]:text-[1.125rem]
}

::-webkit-scrollbar {
    @apply
    w-[5px]
}
::-webkit-scrollbar-track {
    @apply
    bg-white dark:bg-darkPrimary rounded-r-md overflow-hidden
}
::-webkit-scrollbar-thumb {
    @apply
    bg-grey rounded-md
}
.mini-scroll::-webkit-scrollbar {
    @apply
    !h-[5px]
}

label {
    @apply
    w-full h-12 text-[.875rem] md:text-[1rem] min-[1700px]:text-[1.125rem] font-medium text-text dark:text-white
}

.label-err {
    @apply 
    text-red-400 text-[.75rem] md:text-[1rem] animate-err
}

input {
    @apply 
    w-full h-10 md:h-12 p-2 border-[1px] border-paleGrey rounded-md cursor-pointer outline-none
    focus:border-primary transition-colors duration-300 bg-transparent dark:border-text
    dark:focus:border-primary bg-white dark:bg-darkPrimary placeholder:text-grey 
    dark:placeholder:text-slate-400 text-text dark:text-white
}
input {
    &.input-err {
        @apply
        border-red-400 mb-[-3px]
    }
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
    transition: background-color 5000s;
    -webkit-text-fill-color: var(--grey) !important;
}

input[type=checkbox] {
    @apply
    hidden
}
input[type=checkbox]+label {
    background: url('../svg/square.svg') 0 50% no-repeat;
    @apply
    flex items-center h-[30px] aspect-square cursor-pointer pl-[35px] transition-all duration-300 w-auto
}
input[type=checkbox]:checked+label {
    background: url('../svg/checked.svg') 0 50% no-repeat;
}

input[type=radio] {
    @apply
    hidden
}
input[type=radio]+label {
    background: url('../svg/circle.svg') 0 50% no-repeat;
    @apply
    flex items-center h-[30px] aspect-square cursor-pointer pl-[35px] transition-all duration-300 w-auto
}
input[type=radio]:checked+label {
    background: url('../svg/circleDot.svg') 0 50% no-repeat;
}

input[type=file] {
    @apply
    hidden
}

input:disabled {
    @apply
    text-grey
}

::-webkit-calendar-picker-indicator {
    background: url('../svg/calendar.svg');
}

select {
    -webkit-appearance: none;
    appearance: none;
    background: url('../svg/arrowDown.svg') 99.2% no-repeat;

    @apply
    w-full h-10 md:h-12 border-[1px] border-paleGrey rounded-[5px] p-2 cursor-pointer outline-none
    focus:border-primary dark:border-text dark:focus:border-primary dark:focus:text-grey
    bg-white dark:bg-darkPrimary transition-colors duration-300 text-text dark:text-white
}
select {
    &.input-err {
        @apply
        border-red-400 mb-[-3px]
    }
}

select:disabled {
    @apply
    text-grey
}

.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.3s ease;
}
.modal-enter-from,
.modal-leave-to {
  opacity: 0;
}



/* ---------------------------- Buttons ---------------------------- */

.btn-save {
    @apply
    w-[150px] h-[50px] bg-primary hover:bg-secondary transition-all duration-300 text-white p-2
    rounded-md min-[1700px]:text-[1.25rem] flex justify-center items-center gap-1
}

.btn-save .svg {
    @apply
    h-full w-auto
}

.btn-cancel {
    @apply
    w-[150px] h-[50px] bg-grey hover:bg-text transition-all duration-300 text-white p-2
    rounded-md min-[1700px]:text-[1.25rem] flex justify-center items-center gap-1
}

.btn-cancel .svg {
    @apply
    h-full w-auto
}

.btn-search {
    background: url('../svg/search.svg') 50% no-repeat;
    background-size: 70%;
    @apply
    h-[36px] md:h-[44px] w-[36px] md:w-[44px] bg-primary hover:bg-secondary transition-all duration-300
    text-white p-2 rounded-md text-[1.25rem] flex justify-center items-center
}

.btn-reset {
    background: url('../svg/clearFilter.svg') 50% no-repeat;
    background-size: 70%;
    @apply
    h-[36px] md:h-[44px] w-[36px] md:w-[44px] bg-primary hover:bg-secondary transition-all duration-300
    text-white p-2 rounded-md text-[1.25rem] flex justify-center items-center
}

.btn-add,
.btn-user,
.btn-img,
.btn-addImg,
.btn-del,
.btn-edit,
.btn-arrow,
.btn-file,
.btn-eye,
.btn-voice {
    @apply
    w-auto text-primary flex items-center pl-6 relative
}

.btn-add::before,
.btn-user::before,
.btn-img::before,
.btn-addImg::before,
.btn-file::before,
.btn-edit::before,
.btn-arrow::before,
.btn-voice::before,
.btn-eye::before,
.btn-del::before {
    content: '';
    @apply
    absolute left-0 w-[20px] h-[20px]
}
.btn-add::before {
    background: url('../svg/add.svg') no-repeat;
}
.btn-user::before {
    background: url('../svg/userAdd.svg') no-repeat;
}
.btn-addImg::before {
    background: url('../svg/imageAdd.svg') no-repeat;
}
.btn-img::before {
    background: url('../svg/image.svg') no-repeat;
}
.btn-del::before {
    background: url('../svg/trash.svg') no-repeat;
}
.btn-file::before {
    background: url('../svg/fileAdd.svg') no-repeat;
}
.btn-eye::before {
    background: url('../svg/eye.svg') no-repeat;
}
.btn-voice::before {
    background: url('../svg/megaphone.svg') no-repeat;
}
.btn-edit::before {
    background: url('../svg/note.svg') no-repeat;
}
.btn-arrow::before {
    background: url('../svg/arrowDown.svg')0 50% no-repeat;
    background-size: 18px;
}

.reset-password {
    background: url('../svg/reset.svg') 5px no-repeat;
    background-size: 25px;
    @apply
    w-auto h-8 pl-[34px] bg-primary hover:bg-secondary mt-2 mb-4 md:mb-0
    transition-colors duration-300
}
.reset-password:disabled {
    @apply
    bg-grey opacity-40
}

.switch-btn {
    @apply
    w-auto h-10 rounded-full overflow-hidden flex items-center justify-start gap-2
}

.switch-btn .btn {
    @apply
    w-[50px] h-[18px] bg-grey rounded-full overflow-visible flex items-center justify-center cursor-pointer
}
.switch-btn .btn {
    &.on {
        @apply
        bg-grey dark:bg-grey
    }
    &.off {
        @apply
        bg-blue-300
    }
}

.switch-btn .btn .circle {
    @apply
    h-[30px] aspect-square rounded-full transition-all duration-300 shadow-sm shadow-text dark:shadow-darkBackground
}
.switch-btn .circle {
    &.on {
        @apply
        translate-x-[-10px] bg-paleGrey dark:bg-text
    }
    &.off {
        @apply
        translate-x-[10px] bg-primary
    }
}

.switch-btn .text {
    @apply
    text-text dark:text-white font-medium cursor-default
}
.switch-btn .text {
    &.off {
        @apply
        hidden
    }
}

/* ---------------------------- Cards ---------------------------- */

.card {
    @apply
    w-full h-full bg-white rounded-md shadow-md p-2 dark:bg-darkPrimary transition-colors duration-300
    overflow-hidden
}

.card .header {
    @apply
    md:text-[1.2rem] min-[1700px]:text-[1.375rem] font-medium flex items-center gap-2 mb-2 cursor-default text-text 
    dark:text-white
}
.card .header {
    &.form {
        @apply
        text-primary mb-5
    }
}

.card .header .svg{
    @apply
    w-[22px] h-auto
}

.card .import-file {
    @apply
    w-full flex justify-end items-center
}

.card .import-file button {
    @apply
    md:w-auto flex items-center justify-center transition-colors duration-300 text-grey 
    hover:text-white mr-2 shadow-md dark:shadow-darkBackground p-2 rounded-full
    hover:bg-secondary
}

.card .import-file button .svg {
    @apply
    h-[35px] aspect-square
}



/* ---------------------------- Wrapper ---------------------------- */

.wrapper {
    @apply
    w-screen h-screen flex bg-background dark:bg-darkBackground transition-colors duration-300 text-text
    dark:text-white overflow-hidden relative
}



/* ---------------------------- SweetAlert2 ---------------------------- */

.swal2-popup .swal2-title,
.swal2-popup.swal2-toast .swal2-title,
.swal2-popup .swal2-html-container {
    @apply
    !cursor-default
}
.swal2-popup .swal2-styled:focus {
    box-shadow: none !important;
}
.swal2-popup.swal2-toast {
    @apply
    !right-2
}
.swal2-popup.swal2-toast .swal2-close {
    @apply
    !text-white
}

/* ---------------------------- Modals ---------------------------- */

.wrapper .modal {
    z-index: 500;
    background-color: rgb(0, 0, 0, .5);
    @apply
    fixed w-full h-full flex justify-center items-center left-0 top-0
}

.wrapper .modal .card {
    @apply
    w-[90%] md:w-[80%] lg:w-[50%] h-auto max-h-[70%] bg-white px-4 md:px-6 rounded-md mt-[50px] relative
    overflow-auto dark:bg-darkPrimary
}

.wrapper .modal .card .header {
    @apply
    text-[1.5rem] md:text-[1.6rem] min-[1700px]:text-[2rem] font-medium mb-2
}

.wrapper .modal .card .close {
    @apply
    absolute w-[24px] md:w-[30px] right-[10px] top-[10px] cursor-pointer
}

.wrapper .modal .card .profile {
    @apply
    w-full grid grid-cols-1 gap-2 md:mb-3 justify-center items-center
}

.wrapper .modal .card .profile .top {
    @apply
    w-full flex justify-center items-center md:mb-2
}

.wrapper .modal .card .profile .top .img {
    @apply
    h-[150px] md:h-[200px] min-[1700px]:h-[250px] aspect-square rounded-full
    flex justify-center items-center relative
}

.wrapper .modal .card .profile .top .btn {
    @apply
    absolute right-0 bottom-0 hover:text-primary transition-all duration-300
}

.wrapper .modal .card .profile .top .btn .svg {
    @apply
    w-[25px] md:w-[30px] h-auto
}

.wrapper .modal .card .profile .bot {
    @apply
    grid grid-cols-1 sm:grid-cols-2 gap-3 h-full
}

.wrapper .modal .card .profile .bot .footer {
    @apply
    flex justify-end items-end sm:col-span-2 self-end !m-0
}

.wrapper .modal .card .profile .bot .footer .btn-save {
    @apply
    w-[70px] md:w-[100px] h-10
}

.wrapper .modal .card .footer .btn-save,
.wrapper .modal .card .footer .btn-cancel {
    @apply
    w-[25%] md:w-[15%] h-auto
}



/* ---------------------------- Form ---------------------------- */

.form {
    @apply
    w-full h-auto grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 md:gap-x-4
}

.form .inputs {
    @apply
    w-full h-auto order-1 xl:order-none
}

.form .inputs input,
.form .inputs .dropdown,
.form .inputs select {
    @apply
    mb-[22px]
}

.form .inputs .input-err {
    @apply
    mb-[-2px]
}

.form .image-container {
    @apply
    w-full md:mt-[-100px] xl:mt-5 order-2 xl:order-none
}

.form .image-container .image {
    @apply
    w-full h-[200px] bg-background flex justify-center items-center overflow-hidden rounded-[3px]
    mb-4 dark:bg-darkBackground shadow-md dark:shadow-[#111]
}

.form .image-container .image .img {
    @apply
    h-full w-auto
}

.footer {
    @apply
    w-full h-auto flex justify-center md:justify-end items-center mt-10 mb-2 lg:mb-5 gap-2
}


/* ---------------------------- Main ---------------------------- */

.wrapper .main {
    @apply
    w-full h-full overflow-auto
}

.wrapper .main .container .btn-add,
.wrapper .main .container .btn-user {
    &.head {
        @apply
        m-5 ml-0
    }
}



/* ---------------------------- Responsive ---------------------------- */
@media only screen and (max-width: 768px) {
    .btn-edit::before,
    .btn-del::before {
        content: '';
        @apply
        w-[15px] aspect-square
    }
}



/* ---------------------------- Pages ---------------------------- */

.height-auto {
    width: 100%;
    display: grid;
    grid-template-rows: 0fr;
    transition: all .7s;
    &.show {
        grid-template-rows: 1fr;
    }
}
.height-auto > div {
    overflow: hidden;
}

.wrapper .main .container {
    @apply
    px-2 2xl:px-5 min-[1700px]:px-2
}

.wrapper .main .container .reports-box {
    @apply
    w-full h-auto grid  grid-cols-1 md:grid-cols-2
    lg:grid-cols-4 items-center gap-4 lg:gap-10 lg:mt-[35px] lg:mb-[30px]
}

.wrapper .main .container .reports-box .report-card {
    @apply
    w-full h-[100px] md:h-[125px] bg-white rounded-md shadow-md cursor-pointer hover:bg-secondary
    hover:text-white transition-all duration-500 text-secondary dark:bg-darkPrimary dark:hover:bg-secondary
    overflow-hidden dark:text-white
}

.wrapper .main .container .reports-box .report-card .key {
    clip-path: polygon(0 0, 100% 0, 0 100%);
    @apply
    h-full text-start text-[1.875rem] min-[1700px]:text-[2.2rem] font-medium italic bg-secondary text-white px-4
}

.wrapper .main .container .reports-box .report-card .key .svg {
    @apply
    w-[30px] h-auto md:w-[40px]
}

.wrapper .main .container .reports-box .report-card .value {
    @apply
    text-end text-[1.875rem] md:text-[2.5rem] min-[1700px]:text-[2.8125rem] font-bold italic mt-[-50px] md:mt-[-70px] 
    mr-[20px] px-2
}

.wrapper .main .container .box {
    @apply
    w-full h-auto py-2 lg:grid-cols-8 items-center lg:mb-4
}
.box {
    &.dashboard-box {
        @apply
        grid grid-cols-1 gap-[15px] lg:gap-8
    }
}

.wrapper .main .container .box .left-side {
    @apply
    w-full lg:col-span-5 h-[225px] md:h-[250px] lg:h-[330px]
}

.wrapper .main .container .box .right-side {
    @apply
    w-full lg:col-span-3 h-[225px] md:h-[250px] lg:h-[330px]
}

.wrapper .main .container .box .search-box {
    @apply
    flex flex-col mb-4 lg:mb-10
}

.wrapper .main .container .box .courses-box {
    @apply
    grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-8 lg:mt-0
}

.wrapper .main .container .box .courses-box .card {
    @apply
    p-0 relative h-min
}

.wrapper .main .container .box .courses-box .card .img {
    @apply
    w-full h-[200px] lg:h-[250px] min-[1700px]:h-[300px] flex justify-center items-center overflow-hidden
}

.wrapper .main .container .box .courses-box .card .img img {
    @apply
    h-full w-full
}

.wrapper .main .container .box .courses-box .card .header {
    @apply
    p-2 justify-between mb-2
}

.wrapper .main .container .box .courses-box .card .header .status {
    @apply
    w-auto h-[28px] text-white p-3 rounded-[3px] flex justify-center items-center
    text-[1rem] lg:text-[1.125rem] font-normal bg-primary
}

.wrapper .main .container .box .courses-box .card .free-flag {
    clip-path: polygon(
        0% 0%,
        100% 0%,
        80% 50%,
        100% 100%,
        0% 100%
    );
    @apply
    absolute top-2 left-0 h-8 pl-3 pr-6 text-white italic font-medium text-center cursor-default
    bg-green-600 invisible
}

.wrapper .main .container .box .courses-box .card .buttons {
    @apply
    absolute top-0 right-0 m-2 flex gap-2
}

.wrapper .main .container .box .courses-box .card .buttons .btn {
    @apply
    w-[32px] h-[32px] transition-colors bg-white dark:text-white duration-300 hover:bg-primary text-text
    hover:text-white p-[5px] rounded-[3px] dark:hover:text-white dark:bg-darkPrimary dark:hover:bg-primary
}

.wrapper .main .container .box .courses-box .card .info {
    @apply
    px-2 w-full grid grid-cols-2 gap-4 mb-6 cursor-default
}

.wrapper .main .container .box .courses-box .card .info .case {
    @apply
    w-full grid grid-cols-2 items-center justify-center
}

.wrapper .main .container .box .courses-box .card .info .case .key {
    @apply
    font-medium text-text dark:text-white
}

.wrapper .main .container .box .courses-box .card .info .case .value {
    @apply
    font-medium italic flex items-center gap-2 !text-slate-500 dark:!text-slate-400 truncate
}

.wrapper .main .container .box .courses-box .card .footnote {
    @apply
    w-full h-0 overflow-hidden flex justify-around items-center px-2 italic cursor-default transition-all
    duration-300 pt-3 pb-4
}

.wrapper .main .container .box .courses-box .card .footnote .case {
    @apply
    flex items-center justify-center gap-1 text-primary font-medium
}

.wrapper .main .container .box .courses-box .card .footnote .case .svg {
    @apply
    w-[18px] aspect-square
}

table {
    @apply
    w-full h-auto table-fixed text-center text-text dark:text-white cursor-default
    text-[.75rem] md:text-[.9375rem] lg:text-[1rem] min-[1700px]:text-[1.125rem]
}

thead, td, tr {
    @apply
    h-12 md:h-14 lg:h-16
}

tbody tr:nth-child(odd) {
    @apply
    bg-background dark:bg-darkBackground
}

table tr td {
    @apply
    w-full overflow-auto truncate
}
table tr td::-webkit-scrollbar {
    @apply
    h-0
}

table tr td .svg {
    @apply
    w-5 h-5 text-primary transition-transform duration-300
}

table .extra {
    @apply
    overflow-hidden border-b-2 border-t-2 border-primary border-dashed
}

table .extra .extra-rows {
    @apply
    w-full cursor-pointer bg-slate-200 dark:bg-text
}

table .extra .extra-rows:nth-child(even) {
    @apply
    bg-slate-100 dark:bg-slate-800
}

table .extra .extra-rows .btn-row {
    @apply
    w-full text-center overflow-hidden lg:px-[40px] 2xl:px-[60px]
}

table .extra .extra-rows .btn-add {
    @apply
    px-6
}

table thead .img {
    @apply
    w-[40px] md:w-[65px]
}

table tbody .img {
    @apply
    p-[7px]
}

table tbody .img img {
    @apply
    h-full aspect-square rounded-full
}

table tr .last {
    @apply
    w-6 md:w-8 lg:w-10
}

table tr td .description {
    @apply
    max-h-10 lg:max-h-[110px] truncate
}

table tr td .btn-add,
table tr td .btn-del,
table tr td .btn-eye,
table tr td .btn-edit {
    @apply
    m-auto
}

.search-box .top {
    @apply
    grid md:grid-cols-2 lg:grid-cols-4 items-center gap-2
    lg:gap-4
}

.search-box .bottom {
    @apply
    flex justify-between gap-2 items-center mt-2 lg:mt-4
}

.search-box .bottom .reset {
    @apply
    text-primary
}

.page-error {
    @apply
    w-full mt-[300px] flex justify-center items-center
}

.page-error .error {
    @apply
    text-center flex flex-col items-center cursor-default
}

.page-error .error .code {
    @apply
    text-[10rem] md:text-[12.5rem] font-bold h-[180px] bg-clip-text text-transparent flex 
    justify-center items-center bg-gradient-to-r from-secondary to-primary
}

.page-error .error .msg {
    @apply
    text-[1.875rem] my-[10px] italic font-bold
}